body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarImg {
  margin: auto;
  margin-left: auto;
  width: 200px;
  height: 45px;
}

.navbarDiv {
  margin-left: auto;
  width: 100px;
  height: fit-content;
}

.mainDiv {
  background-image: url(./img/background.png);
  background-repeat: none;
  background-size: cover;
  width: auto;
  height: 50vh;
  margin: 10px;
  margin-top: 70px;
}

.text {
  color: white;
}